@import "variables";

.navbar {
  height: 50px;
  padding: 0 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,93,38, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler, .navbar-toggler.collapsed {
  height: 50px;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
}

button {
  border: none;
  outline: none !important;
}

.navbar-collapse {
  background-color: $color-light-1;
}

.primary-nav {
  background-color: $color-light-1;
  color: $txt-standard-1;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(232,93,38, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  ul {
    width: 100%;
    max-width: 900px;
  }
  li {
    width: 20%;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  li.active {
    font-weight: bold;
  }
}

/***** SECONDARY NAV *****/

.secondary-nav {
  display: none;
}

@media screen and (min-width:375px) {
  .secondary-nav {
    display: block;
    position: absolute;
    z-index: 999;
    top: calc(50% + 25px);
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  
    span {
      display: block;
      margin: 20px 0;
      font-size: 1.5rem;
    }
  
    span.active {
      font-size: 2.2rem;
    }
  }
}

@media screen and (min-width:768px) {
  .secondary-nav {
    width: 80px;
  
    span {
      font-size: 2rem;
    }
  
    span.active {
      font-size: 3rem;
    }
  }
}